@import "normalize"
@import "auxiliares"


azul = #22bce0
gris_oscuro = #444
gris_claro = #e8e8e8
gris_texto = #7a7a7a
naranja = #DD4F24

a
	color naranja

body
	background gris_claro
	color gris_oscuro
	font-family Arial
	font-size 16px

header
	background gris_oscuro
	color white
	padding 0.5em
	overflow hidden
	position relative
	box-shadow 0 5px 0 rgba(0,0,0,0.2)
	z-index 1
	
	.logo
		border-right 1px solid azul
		width 60px
		
		img
			width 52px
	
	.titular
		margin 0 60px 0 70px
		
		.filtro
			color azul
			text-decoration none
			font-weight bold
			font-style italic
			font-size 14px
			
		.publicar
			background naranja
			color white
			padding 0.2em 0.5em
			text-decoration none
			font-style italic
			text-shadow 1px 1px 0px black
			margin -5px 1em 0 0
		
		.titulo
			font-size 18px
			font-weight normal
			margin 0
			padding 0
	
	.usuario
		position absolute
		right 0
		top 0
		
		.avatar
			position relative
			z-index 1
			margin 10px 15px
			img
				width 50px
				border-radius 50%
		
		.flechita
			background naranja
			color white
			display block
			margin -9px 0 0 -1em
			padding 0 2px
			position absolute
			right 0
			text-align right
			top 50%
			width 50%

nav
	background azul
	border-left 15px solid white
	position relative
	
	&:before
		border-bottom 20px solid transparent
		border-left 7px solid white
		border-top 20px solid transparent
		content ""
		position absolute
		top 0
		left 0
	
	.menu
		line-height 40px
		margin 0
		padding 0
		overflow-x auto
		white-space nowrap
		
		li
			display inline-block
			
			a
				color white
				display block
				margin 0 0.5em
				padding 0 0.2em
				text-decoration none

.posts
	padding 0.5em
	
	.post
		background white 
		color gris_texto
		box-shadow(black, 0.5)
		border-radius 0 0 0.5em 0.5em
		
		.acciones
			border-top 3px solid azul
			padding 0.5em
			overflow hidden			
			
			.datos
				float right
				
				.comentarios
					background gris_texto
					color white
					padding 2px 5px
					margin 0 1em 0 0
					text-decoration none
					border-radius 3px
				
			.votos
				float left
				
				.down
				.up
					text-decoration none
				
				.down
					color red
				
				.up
					color green
		
		.descripcion
			color gris_texto
			
			.detalles
				height 160px
				margin-left 130px
				
				.autor
					margin 0.5em 0 2em 0
				
				.tag
					background azul
					color white
					text-decoration none
					padding 0.2em 0.5em
					border-radius 0.5em
					
				.flecha
					float right
					margin 0 1em 0 0
					

				.titulo
					color gris_oscuro
					font-size 18px
					font-style italic
					margin 0
					padding 0.5em 0.5em 0 0
				
				.imagen
					float left

					img
						height 160px
						vertical-align top
						width 120px

